* {
    margin: 0;
    box-sizing: border-box;
    font-family: noto-sans, sans-serif;
}

body {
    background: #8866FB;
    height: 100vh;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

textarea:focus, input:focus{
    outline: none;
}

input::selection {
    background-color: #EAE1F1;
}

#background-yellow {
    position: absolute;
    z-index: -1;
    bottom: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; width: 100%;
}

#phone-body {
    width: 375px;
    height: 680px;
    background: white;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    overflow-y: auto;
    overflow-x: hidden;
}

.top-bar {
    background-color: #FBFAFF;
    /* background-color: pink; */
    height: 100px;
    display: flex;
    flex-direction: column;
    border-bottom: #EAE1F1 .75px solid;
    position: relative;
    transition: all .5s ease-out;
}

.top-bar-text {
    padding: 20px 30px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top-bar h2 {
    font-size: 24px;
    color: #8866FB;
    font-weight: 700;
    text-shadow: 0 .1em rgba(0, 0, 0, 0.05);
}

.top-bar h2 span {
    font-weight: 500;
}

.top-bar h3 {
    font-size: 16px;
    font-weight: 500;
    color: #C3C5B3;
}

.top-bar .widgets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    z-index: 1;
    width: 100%;
}

.widgets .num-of-tasks {
    font-size: 10px;
    background: #8866FB;
    padding: .6em .6em;
    color: white;
    border-radius: 200px;
    width: 27px;
    /* min-width: 25px; */
    text-align: center;
    box-shadow: 0px 1.5px 2px rgba(0,0,0,0.3);
    white-space: nowrap;
    transition: all .5s ease-in-out;
    font-weight: 800;
}

.widgets .num-of-tasks span:after {
    /* content: "15 Tasks"; */
    content: attr(data-value);

}

.widgets .completed-tasks {
    font-weight: 400;
    font-size: 12px;
    background: #FAC467;
    padding: .6em 1em;
    color: white;
    border-radius: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px .5px 2px rgba(0,0,0,0.3);
    white-space: nowrap;
}

.arrow-buttons {
    width: 155px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    transition: width .5s ease-in-out;
}

.left-buttons > *:hover, .right-buttons > *:hover , #today_button:hover {
    filter: brightness(90%);
}

.left-buttons > *:active, .right-buttons > *:active, #today_button:active {
    filter: brightness(80%);
}

.left-buttons, .right-buttons {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#back-day-button, #forward-day-button {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background-color: #FBFAFF;
    box-shadow: 0px 1.5px 3px rgba(0,0,0,0.3);
    position: relative;
}

#back-month-button, #forward-month-button {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background-color: #FBFAFF;
    box-shadow: 0px 1.5px 3px rgba(0,0,0,0.3);
    position: relative;
}

#back-day-button i, #forward-day-button i {
    border: solid #8866FB;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    position: absolute;
    left: 50%; top: 50%;
    border-radius: 2px;
    /* transform: translate(-50%, -50%); */
}

#back-month-button i, #forward-month-button i {
    border: solid #8866FB;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 1px;
    position: relative;
    /* left: 50%; top: 50%; */
     left: 40%; top: -45%;
    border-radius: 1px;
    /* transform: translate(-50%, -50%); */
}

.right-arrow {
    transform: translate(-60%, -50%) rotate(-45deg);
    -webkit-transform: translate(-60%, -50%) rotate(-45deg);
}

.left-arrow {
    transform: translate(-40%, -50%) rotate(135deg);
    -webkit-transform: translate(-40%, -50%) rotate(135deg);
}

#today_button {
    width: 50px; height: 50px;
    background-color: #8866FB;
    border-radius: 100px;
    position: relative;
    transition: all .5s ease-in-out;
    opacity: 0;
}

#today_button i {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
}

.add-note .arrow-buttons {
    opacity: 0;
    display: none;
}

.add-note .num-of-tasks {
    opacity: 0;
}

/* .add-note .completed-tasks p {
    display: none;
}
.add-note .completed-tasks {
    transition: all .5s ease-in-out;
} */

.widgets .task-button {
    height: 55px;
    width: 55px;
    border-radius: 100px;
    background: #8866FB;
    box-shadow: 0px 1.5px 2px rgba(0,0,0,0.3);
    transition: all .5s ease-in-out;
    transition: background .1s ease-in-out;
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
}

.widgets .task-button:hover {
    background-color: rgba(136, 102, 251, .90);
}

.widgets .task-button:active {
    filter: brightness(110%);
}

.empty-input .task-button {
    background: #767676;
}

.empty-input .input-box {
    border-color: #767676 !important; 
}

.empty-input .input-box input {
    border-color: rgba(118, 118, 118, .95) !important; 
}

.empty-input .task-button:hover{
    background-color: #767676;
}

.empty-input .task-button:active {
    filter: unset;
}

.empty-input svg {
    transform: translate(-50%, -50%) rotate(45deg) !important;
}

.widgets > div {
    position: relative;
    z-index: 1;
}

.widgets svg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    transform: translate(-50%, -50%);
    transition: transform .2s ease-in-out;
}

.widgets .input-box {
    height: 55px;
    width: 55px;
    border-radius: 100px;
    background: white;
    box-shadow: 0px 1.5px 2px rgba(0,0,0,0.3);
    transition: all .5s ease-in-out;
    position: relative;
    z-index: -1;
    border: solid #8866FB .5px;
}

.widgets .input-box input {
    display: none;
}

.add-note .input-box {
    /* flex-basis: 70%; */
    width: 315px;
}

.add-note .input-box input {
    width: calc(100% - 80px);
    padding: 0 15px;
    position: absolute;
    left: 43%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-bottom: solid rgba(136, 102, 251, .95) .25px;
    color: #82829C;
    display: block;
}

.add-note .task-button-container {
    position: relative;
    left: -22px;
    z-index: 1;
}

.add-note .num-of-tasks span:after {
    /* content: "15"; */
    content: attr(data-value);

}

.add-note .num-of-tasks {
    width: 25px;
}

.add-note {
    height: 120px;
    margin-bottom: 10px;
}


/* .widgets .completed-tasks p{
    padding-right: .5em;
} */

@media (max-width: 444px) {
    #phone-body {
        width: 90%;
        height: 90%;
    }
}

.note-body {
    background: white;
}

.note {
    padding: 0 30px;
    height: 85px;
    width: 100%;
    border-top: #EAE1F1 solid 1px;
    border-bottom: #EAE1F1 solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

.note .content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.note label {
    position: relative;
    padding-left: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #9C9282;
    font-weight: 500;
    font-size: 14px;
}

.note label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.note label .checkmark {
    position: absolute;
    left: 0;
    height:20px;
    width: 20px;
    background-color: white;
    border: #9C9982 solid 1px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.16);
} 

.note label:hover input ~ .checkmark {
    background-color: rgba(136,102,251,0.16);
    transition: background .1s ease-in-out;
}

.note label input:checked ~ .checkmark {
    background-color: #767676;
    border: none;
}

.checkmark:after {
    content: "";
    position: absolute;
    display:none;
}

.note label input:checked ~ .checkmark:after {
    display:block;
}

.note label .checkmark:after {
    left: 6.5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.note .right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.note .right h4 {
    color: #9C9282;
    font-size: 11px;
    font-weight: 700;
}

.note .right .delete {
    display: none;
}

.complete {

}

.complete .content * {
    color: #E4DCD6 !important;
}

.complete label {
    font-weight: 300;
}

.complete .delete {
    display: block !important;
    margin-left: 25px;
    font-weight: 0;
    padding: 1em 0em 1em 1em;
}

.complete .delete:hover {
    filter: brightness(80%);
}

.complete .delete:active {
    filter: brightness(50%);
}

.complete .line {
    display: block !important;
}

.line {
    display: none;
    width: 68%;
    height: 1px;
    background: #E4DCD6;
    position: absolute;
    left: 15.5%;
}

@media (max-width: 400px) {
    .add-note .input-box {
        width: 250px;
    }

    #phone-body {
        box-shadow: 0px 3px 15px rgba(35, 11, 47, 0.84);
    }
}
